configuration {
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "󰍉 ";
    drun-display-format: "{name}";
    disable-history: false;
    sidebar-mode: false;

    display-window: " 󰆍 ";
    display-windowcd: " 󰆍 ";
    display-calc: " 󰃬 ";
    display-clipboard: " 󰅎 ";
    display-filebrowser: " 󰉋 ";
    display-network: " 󰤨 ";
    display-powermenu: " 󰐥 ";
    display-run: " 󰑔 ";
    display-keys: " 󰌌 ";
}

@theme "style"
